.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: blue;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-darkpurple {
    background-color: #3c096c;
}


.bg-purple {
    background-color: #5e548e;
}

.bg-brown {
    background-color: brown;
}

.bg-cadetblue {
    background-color: cadetblue;
}

.bg-chartreuse {
    background-color: chartreuse;
}

.bg-green {
    background-color: green;
}

.bg-darkmagenta {
    background-color: darkmagenta;
}
